<!-- for adblocker popup -->
 <!-- Modal content-->
 <div class="modal-content">
  <div class="modal-header text-center">
    <h4 class="modal-title">Adblocker Detected</h4>
  </div>
  <div class="modal-body">
    <p>This site is supported by ads.  Please disable your adblocker</p>
  </div>
  <div class="modal-footer">
    <div class="input-field s12 text-center">
        <button type="button" class="btn waves-effect waves-light dark_grn_fill" data-dismiss="modal" (click)="onClose()">OK</button>
    </div> 
  </div>
</div>

