<!-- footer HTML  -->

<footer>
    <div id="footer_section">
        <div class="footer_section">
            <div class="container">
                <div class="row mb0">
                    <div class="col-md-4">
                        <a class="footer-brand" href="#">
                            <img src="images/logo.png" alt="image" width="240">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <div class="inner_ul">
                            <p>What we do</p>
                            <ul>
                                <li>
                                    <a href="#">User Policy</a>
                                </li>
                                <li>
                                    <a href="#">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="#">Contact Us Page</a>
                                </li>
                                <!-- <li>
                                    <a href="#">Challenges</a>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="inner_ul">
                            <p>Contact Us</p>
                            <ul>
                                <li>
                                    <a href="mailto:hello@stockteamup.com">hello@stockteamup.com</a>
                                </li>
                                <li>Studio M, 4th Floor8 Lower Manchester street, M1 5QF</li>
                                <li>
                                    <a href="tel:+3897608759922">+38 976 0875 9922</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- <div class="col-md-3">
                        <div class="inner_ul">
                            <p>Connect with Us</p>
                            <ul class="trophy_rates">
                                <li class="img-circle text-center">
                                    <a href="#">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="img-circle text-center">
                                    <a href="#">
                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="img-circle text-center">
                                    <a href="#">
                                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="img-circle text-center">
                                    <a href="#">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- <div class="footer_copyrighhts">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <p class="font12">
                            © 2017 stockteamup Kindness All rights reserved
                        </p>
                    </div>
                    <div class="col-md-6 col-sm-6 pull-right text-right">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fab fa-twitter fa-2x"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook fa-2x"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-instagram fa-2x"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</footer>