<section>
  <div class="user_verification_img">
    <div class="user_verification ">
      <div class="container">
        <div class="row modal-dialog middle_section">
          <div class="middle_section_content">
            <div class="row white_bg_border">
              <div class="col-md-12" *ngIf="message==null">
                <p class="ellipsis font24 color_purple mb10">Reset Password</p>
                <div class="clearfix"></div>
                <form #f="ngForm" (ngSubmit)="onResetPassword(f)" #f="ngForm">
                  <div class="row mb0">
                    <div class="input-field">
                        <input id="userName" type="text" class="validate" name="userName" [(ngModel)]="user.userName" #userName="ngModel" required>
                        <label for="userName">Username/Email</label>
                        <span class="text-danger" *ngIf="userName.errors?.required && userName.touched">Username is required</span>
                    </div>
                    <div class="input-field">
                      <input id="password" type="password" class="validate" name="password" [(ngModel)]="user.password" #password="ngModel"
                        required minlength="8">
                      <label for="password">New Password</label>
                      <div class="text-danger">
                        <span *ngIf="password.errors?.minlength">Password must be at least 8 characters</span>
                        <span *ngIf="password.errors?.required && password.touched">New password is required</span>
                      </div>
                    </div>
                    <div class="input-field">
                      <input id="confirmPassword" type="password" class="validate" name="confirmPassword" [(ngModel)]="user.confirmPassword" #confirmPassword="ngModel">
                      <label for="confirmPassword">Confirm Password</label>
                      <div class="text-danger">
                        <span *ngIf="user.confirmPassword != user.password && confirmPassword.dirty">Confirm password and New password must be same</span>
                      </div>
                    </div>
                    <div class="input-field s12 text-center">
                      <button class="btn waves-effect waves-light dark_grn_fill" type="submit" [disabled]="f.invalid || user.confirmPassword != user.password">Upadate Password</button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-md-12 text-center"  *ngIf="message!=null">
                <p class="ellipsis font24 color_purple mb10">{{message}}</p>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <div class="modal-header">
  <button type="button" class="close" (click)="onClose()">&times;</button>
  <h4 class="modal-title">Reset Password</h4>
</div>
<div class="modal-body">
  <div class="row">
    <form class="col s12" (ngSubmit)="onResetPassword(f)" #f="ngForm">
      <div class="row">
        <div class="input-field">
          <input id="newPassword" type="password" class="validate" name="newPassword" 
            [(ngModel)]="userData.newPassword" #newPassword="ngModel" required >
          <label for="newPassword">New Password</label>
          <span class="text-danger" *ngIf="newPassword.errors?.required && newPassword.touched">New password is required</span>
        </div>
        <div class="input-field">
          <input id="confirmPassword" type="password" class="validate" name="confirmPassword" 
          [(ngModel)]="userData.confirmPassword" #password="ngModel" required>
          <label for="confirmPassword">Confirm Password</label>
          <span class="text-danger" *ngIf="confirmPassword.errors?.required && confirmPassword.touched">Confirm password is required</span>
        </div>
      </div>
      <div class="row">
        <button class="btn waves-effect waves-light dark_grn full_width" type="submit" [disabled]="f.invalid">Login</button>
      </div>
    </form>
  </div>
</div> -->