<section>
    <div class="user_verification_img">
        <div class="user_verification ">
            <div class="container">
                <div class="row modal-dialog middle_section">
                    <div class="middle_section_content">
                        <div class="row white_bg_border">
                            <div class="col-md-12">
                                <p class="ellipsis font24 color_purple mb10">Forgot Password</p>
                                <div class="clearfix"></div>
                                <form #f="ngForm" (ngSubmit)="onForgotPassword()">
                                    <div class="row mb0">
                                        <div class="input-field">
                                            <input id="email" type="email" class="validate" name="email" #email="ngModel" [(ngModel)]="userEmail.email" required>
                                            <label for="email">Email Address</label>
                                            <span class="text-danger" *ngIf="email.errors?.required && email.touched">Email is required</span>
                                        </div>
                                        <div class="input-field s12 text-center">
                                            <button class="btn waves-effect waves-light dark_grn_fill" type="submit" [disabled]="f.invalid">Submit</button>
                                            <button class="btn waves-effect waves-light dark_grn_fill ml10" type="button" (click)="onCancel()">Cancel</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>